# Ignore everything
*
# Allow subfolders (!)
!*/

!/.gitignore

!/y2020/__init__.py
!/y2020/m05/__init__.py
!/y2020/m05/d01/__init__.py
!/y2020/m05/d01/codewars_fix_names.py
!/y2020/m05/d02/__init__.py
