# Ignore everything
*
# Allow subfolders (!)
!*/

!/.gitignore

!/y2020/__init__.py
!/y2020/m05/__init__.py
!/y2020/m05/d01/__init__.py
!/y2020/m05/d01/codewars_fix_names.py
!/y2020/m05/d02/__init__.py
!/y2020/m05/d02/HashAlgorithm.py
!/y2020/m05/d02/hash_file.py
!/y2020/m05/d04/__init__.py
!/y2020/m05/d04/codewars_folder_structure_change.py
!/y2020/m07/__init__.py
!/y2020/m07/d07/__init__.py
!/y2020/m07/d07/run_sh_via_cmd.py
